

.navbar {
  display: flex;
  justify-content: space-between;
  
  align-items: center;
  padding: 1rem 2rem;
  background-color: #1e293b;
  color: #412a9e;
  box-shadow: 0 2px 6px rgba(0,0,0,0.5);
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid #334155;
  margin: 5px 50px;
  border-radius: 50px;
  
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.navbar-logo a {
  font-size: 1.5rem;
  font-weight: 700;
  color: #E2E8F0;
  text-decoration: none;
}

.navbar-links a {
  margin-left: 1.5rem;
  color: #E2E8F0;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
  padding: 2px 10px;
  margin: 2px 2px;
  border-radius: 10px;
}

.navbar-links a:hover {
  color: #9b9ff1;
}

.navbar-links a.active {
  color: #E2E8F0;
  font-weight: 600;
  background-color: var(--color-bg)
  
}
.username {
  margin-left: 10px;
  font-weight: bold;
  color: #ccc;
}
.navbar button {
  background: #ff4d4d;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  
}



.hamburger {
  font-size: 1.8rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: none;
}

/* Hide mobile menu initially */
.mobile-menu {
  display: none;
}


/* -------- Responsive (mobile) ---------- */
@media (max-width: 768px) {
  .navbar{
    margin: 0px 0px;
    position:static;
    border-radius: 0;
    
  }
  .navbar-links {
    display: none; /* hide desktop links */
  }

  .hamburger {
    display: block; /* show hamburger */
  }

  /* Sidebar menu */
  .mobile-menu {
    position: fixed;
    top: 0;
    transform: translateX(-130%); /* hidden by default */
    width: 250px;
    height: 100vh;
    background-color: #1e293b;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    transition: left 0.3s ease;
    z-index: 100;
    
  }
  

  .mobile-menu.open {
    transform: translateX(-29%); /* slide in */
  }

  .mobile-menu a,
  .mobile-menu button {
    color: white;
    text-decoration: none;
    padding: 1rem 0;
    border-bottom: 1px solid #333;
    background: none;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    text-align: center;
  }
  .mobile-menu .logout:hover{
    background-color: rgb(104, 20, 20);
  }
  .mobile-menu :hover{
    background-color: #2e304a;
  }
  
  .mobile-menu a.active{
    background-color: var(--color-bg);
  }
   /* small close (X) button */
  .mobile-menu .close-btn {
    align-self: flex-end;
    background: none;
    border: none;
    color: #fff;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    padding: 1rem;
    border-radius: 50%;
    line-height: 1;
    transition: background-color 0.2s ease;
  }
  .mobile-menu .close-btn:hover{
    background-color: #2e304a;
  }
  
}